@import url("react-toastify/dist/ReactToastify.css");

:root {
  --primary-color: #3b82f6;
}

body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  letter-spacing: 0.06rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
